.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.menu-title{
    text-align: center;
}
.icon-medium{
    font-size: 3rem;
    padding-right: 4rem;
}
.data-title{
    font-size: 30px;
}
.data{
    font-size: 20px;
}